.header {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--white {
    padding: 30px 40px;
}

.header__wrapper-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    user-select: none;
    text-decoration: none;
    transition: opacity 0.3s;
}

.header__wrapper-logo--active {
    cursor: pointer;
}

.header__wrapper-logo--active:hover {
    opacity: 0.7;
}

.header__logo {
    margin: 0;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 2px;
}

.header__logo--white {
    color: #545454;
}

.header__logo-description {
    margin: 0;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.header__logo-description--white {
    color: #292929;
}

.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    transition: color 0.4s;
}

.header__link--white {
    color: #545454;
}

.header__link:hover {
    color: #FAFAFA;
}

.header__link--white:hover {
    color: #292929;
}

.header__link--active {
    color: #FAFAFA;
    position: relative;
    cursor: default;
}

.header__link--white-active {
    color: #545454;
    position: relative;
    cursor: default;
}

.header__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background-color: #F1CDB3;
}

.header__link--white-active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background-color: #F1CDB3;
}

@media (max-width: 1029px) {
    .header {
        padding: 30px 30px 0;
    }

    .header__list {
        max-width: 443px;
        width: 57.7vw;
        gap: 0;
        justify-content: space-between;
    }
}
