.header {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    user-select: none;
    text-decoration: none;
}

.header__logo {
    margin: 0;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
}

.header__logo-description {
    margin: 0;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    transition: color 0.4s;
}

.header__link:hover {
    color: #FAFAFA;
}

.header__link--active {
    color: #FAFAFA;
    position: relative;
    cursor: default;
}

.header__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background-color: #F1CDB3;
}
