.help {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.help__title {
    text-align: center;
}

.help__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    row-gap: 55px;
    column-gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
}

.help__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.help__item-description {
    margin: 0;
    color: #545454;
    font-size: 20px;
    font-weight: normal;
    line-height: 115%;
    letter-spacing: 0.06em;
}

@media (max-width: 1029px) {
    .help {
        padding: 80px 30px 100px;
    }

    .help__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8.33vw;
    }

    .help__item {
        gap: 29px;
    }
}

@media (max-width: 767px) {
    .help {
        padding: 42px 15px;
    }

    .help__list {
        grid-template-columns: repeat(2, 40.625vw);
        gap: clamp(30px, 9.375vw, 40px);
    }

    .help__item {
        gap: 20px;
    }

    .help__item-description {
        font-size: clamp(15px, 4.688vw, 20px);
    }

    .help__image {
        width: clamp(50px, 15.625vw, 100px);
        height: clamp(50px, 15.625vw, 100px);
    }
}
