.not-only {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px 40px 0;
    display: flex;
    gap: 42px;
}

.not-only__main-text {
    margin: 164px 0 41px;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
    font-weight: normal;
}

.not-only__description {
    margin: 0 0 42px;
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
}

.not-only__button {
    max-width: 207px;
}
