.not-only {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px 40px 0;
    display: flex;
    gap: 42px;
}

.not-only__main-text {
    margin: 164px 0 41px;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
    font-weight: normal;
}

.not-only__description {
    margin: 0 0 42px;
    color: #CDCDCD;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 160%;
}

.not-only__button {
    max-width: 207px;
}

@media (max-width: 1029px) {
    .not-only {
        padding: 60px 30px 0;
        flex-direction: column;
        gap: 100px;
    }

    .not-only__text {
        align-self: center;
        max-width: 59.9vw;
        display: flex;
        flex-direction: column;
        gap: 42px;
        align-items: center;
    }

    .not-only__main-text {
        margin: 0;
        align-self: flex-start;
    }

    .not-only__description {
        margin: 0;
    }

    .not-only__image {
        width: 569px;
        height: 593px;
        align-self: flex-end;
    }
}

@media (max-width: 767px) {
    .not-only {
        padding: 60px 10px 0;
    }

    .not-only__text {
        max-width: none;
    }

    .not-only__main-text {
        font-size: clamp(25px, 7.813vw, 40px);
        text-align: center;
        align-self: center;
    }

    .not-only__description {
        text-align: center;
        font-size: clamp(15px, 4.688vw, 20px);
    }

    .not-only__image {
        width: 260px;
        height: 272px;
        align-self: center;
    }
}
