.our-friends {
    background-color: #F6F6F6;
}

.our-friends__wrapper {
    padding: 80px 40px 100px;
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.our-friends__title {
    text-align: center;
}

.our-friends__button {
    align-self: center;
}

/* .our-friends__slider {
    margin-bottom: 20px;
} */

@media (max-width: 1029px) {
    .our-friends__wrapper {
        padding: 80px 30px 100px;
    }
}
